<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Help Page</title>
</head>

<body>
    <%- include("partials/header.ejs") %>
        <h1 class="my-5">
            <svg xmlns="http://www.w3.org/2000/svg" width="35" height="35" fill="currentColor"
                class="bi bi-patch-question" viewBox="0 0 16 16">
                <path
                    d="M8.05 9.6c.336 0 .504-.24.554-.627.04-.534.198-.815.847-1.26.673-.475 1.049-1.09 1.049-1.986 0-1.325-.92-2.227-2.262-2.227-1.02 0-1.792.492-2.1 1.29A1.7 1.7 0 0 0 6 5.48c0 .393.203.64.545.64.272 0 .455-.147.564-.51.158-.592.525-.915 1.074-.915.61 0 1.03.446 1.03 1.084 0 .563-.208.885-.822 1.325-.619.433-.926.914-.926 1.64v.111c0 .428.208.745.585.745" />
                <path
                    d="m10.273 2.513-.921-.944.715-.698.622.637.89-.011a2.89 2.89 0 0 1 2.924 2.924l-.01.89.636.622a2.89 2.89 0 0 1 0 4.134l-.637.622.011.89a2.89 2.89 0 0 1-2.924 2.924l-.89-.01-.622.636a2.89 2.89 0 0 1-4.134 0l-.622-.637-.89.011a2.89 2.89 0 0 1-2.924-2.924l.01-.89-.636-.622a2.89 2.89 0 0 1 0-4.134l.637-.622-.011-.89a2.89 2.89 0 0 1 2.924-2.924l.89.01.622-.636a2.89 2.89 0 0 1 4.134 0l-.715.698a1.89 1.89 0 0 0-2.704 0l-.92.944-1.32-.016a1.89 1.89 0 0 0-1.911 1.912l.016 1.318-.944.921a1.89 1.89 0 0 0 0 2.704l.944.92-.016 1.32a1.89 1.89 0 0 0 1.912 1.911l1.318-.016.921.944a1.89 1.89 0 0 0 2.704 0l.92-.944 1.32.016a1.89 1.89 0 0 0 1.911-1.912l-.016-1.318.944-.921a1.89 1.89 0 0 0 0-2.704l-.944-.92.016-1.32a1.89 1.89 0 0 0-1.912-1.911z" />
                <path d="M7.001 11a1 1 0 1 1 2 0 1 1 0 0 1-2 0" />
            </svg> Help & Support
        </h1>
        <div class="row d-flex justify-content-center">
            <div class="col text-left">
                <h2>How to Create a Post</h2>
                <ol>
                    <li>Go to the <strong>Create</strong> page.</li>
                    <li>Write a caption.</li>
                    <li>Add your blog content.</li>
                    <li>Upload an image.</li>
                    <li>Click on <strong>Post</strong> button to publish.</li>
                </ol>
            </div>
            <div class="col text-left">
                <h2>How It Works</h2>
                <p class="text-left">
                    This blog website allows you to upload an image and write content.
                    The image is stored inside the uploads folder, and your post
                    is temporarily stored in memory.
                </p>
                <p class="text-left">
                    Note: If the server restarts, the posts will be removed
                    because this project does not use a database.
                </p>
            </div>
        </div>
        <div class="row d-flex justify-content-center">
            <div class="col text-left">
                <h2>Common Issues</h2>
                <ul>
                    <li>If image does not show, make sure it is uploaded properly.</li>
                    <li>If posts disappear, check if the server restarted.</li>
                    <li>Ensure all fields are filled before submitting.</li>
                </ul>
            </div>
            <div class="col text-left">
                <h2>Need More Help?</h2>
                <p class="text-left">
                    This is a simple blog application built using
                    Node.js, Express, EJS, and Multer.
                </p>
            </div>
        </div>

        <h5 class="my-5">For any additional information/support, please do not hesitate to reach out.
            <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-emoji-smile"
                viewBox="0 0 20 20">
                <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16" />
                <path
                    d="M4.285 9.567a.5.5 0 0 1 .683.183A3.5 3.5 0 0 0 8 11.5a3.5 3.5 0 0 0 3.032-1.75.5.5 0 1 1 .866.5A4.5 4.5 0 0 1 8 12.5a4.5 4.5 0 0 1-3.898-2.25.5.5 0 0 1 .183-.683M7 6.5C7 7.328 6.552 8 6 8s-1-.672-1-1.5S5.448 5 6 5s1 .672 1 1.5m4 0c0 .828-.448 1.5-1 1.5s-1-.672-1-1.5S9.448 5 10 5s1 .672 1 1.5" />
            </svg>
        </h5>
        <%- include("partials/footer.ejs") %>
</body>

</html>